
<section class="jumbotron text-center" style="background-color: #f8f5f1;">
    <div class="container">
        <h1 class="jumbotron-heading">La librairie en ligne qui défend les libraires indépendants</h1>
        <p class="lead text-muted mb-0">Vivez l'expérience lalibrairie.com, qui défend une "économie" locale du livre.
Une véritable librairie de quartier mais avec les services des grandes enseignes qui tient dans votre smartphone.
        </p>
    </div>
</section>

 {{#each userOrder as |val index|}}
<div style="width: 700px;" class="container-fluid my-5 d-flex justify-content-center">
    
    <div style="margin-top:10px;" class="card card-1">
       
        <div class="card-header bg-white">
            <div class="media flex-sm-row flex-column-reverse justify-content-between ">
                <div class="col my-auto">
                    <h4 class="mb-0">Merci pour votre commande,<span class="change-color">{{this.name}}</span> !</h4>
                </div>
                <div class="col-auto text-center my-auto pl-0 pt-sm-4"> <a class="navbar-brand" style="font-weight: 600;font-size:25px;color:#ff7b54;">LaLibrairie.com</a>
                    <p class="mb-4 pt-0 Glasses">Livres pour tous</p>
                    
                </div>
            </div>
        </div> 
        
        <div class="card-body">
            
            <div class="row justify-content-between mb-3">
                <div class="col-auto">
                    <h6 class="color-1 mb-0 change-color">Reçu</h6>
                </div>
                <div class="col-auto "> <small>Recevoir un bon : 1KAU9-84UIL</small> </div>
            </div>
            
             {{#each this.cart.selectedProduct as |val indexProduct|}}
            <div class="row">
                <div class="col">
                    <div class="card card-2">
                        <div class="card-body">
                            <div class="media">
                                <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="/images/{{this.name}}.jpg" width="50" height="30" /> </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row">
                                        <div class="col my-auto">
                                            <h6 class="mb-0"> {{this.name}}</h6>
                                        </div>
                                        {{!-- <div class="col-auto my-auto"> <small>{{this.name}} </small></div>
                                        <div class="col my-auto"> <small>Size : M</small></div> --}}
                                        <div class="col my-auto"> <small>Qty : {{this.quantity}}</small></div>
                                        <div class="col my-auto">
                                            <h6 class="mb-0">{{this.price}}.00 €</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-3 ">
                            <div class="row">
                                <div class="col-md-3 mb-3"> <small> Suivi de commande  <span><i class=" ml-2 fa fa-refresh" aria-hidden="true"></i></span></small> </div>
                                <div class="col mt-auto">
                                    <div class="progress my-auto">
                                        <div class="progress-bar progress-bar rounded" style="width: 62%" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="media row justify-content-between ">
                                        <div class="col-auto text-right"><span> <small class="text-right mr-sm-2"></small> <i class="fa fa-circle active"></i> </span></div>
                                        <div class="flex-col"> <span> <small class="text-right mr-sm-2">En livraison</small><i class="fa fa-circle active"></i></span></div>
                                        <div class="col-auto flex-col-auto"><small class="text-right mr-sm-2">Livré</small><span> <i class="fa fa-circle"></i></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            
            {{!-- <div class="row mt-4">
                <div class="col">
                    <div class="card card-2">
                        <div class="card-body">
                            <div class="media">
                                <div class="sq align-self-center "> <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="https://i.imgur.com/fUWWpRS.jpg" width="135" height="135" /> </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row">
                                        <div class="col-auto my-auto ">
                                            <h6 class="mb-0"> Michel Mark</h6>
                                        </div>
                                        <div class="col my-auto "> <small>Black Rim </small></div>
                                        <div class="col my-auto "> <small>Size : L</small></div>
                                        <div class="col my-auto "> <small>Qty : 1</small></div>
                                        <div class="col my-auto ">
                                            <h6 class="mb-0">&#8377;1,235.00</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-3 ">
                            <div class="row ">
                                <div class="col-md-3 mb-3"> <small> Track Order <span><i class=" ml-2 fa fa-refresh" aria-hidden="true"></i></span></small> </div>
                                <div class="col mt-auto">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar rounded" style="width: 18%" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="media row justify-content-between ">
                                        <div class="col-auto text-right"><span> <small class="text-right mr-sm-2"></small> <i class="fa fa-circle active"></i> </span></div>
                                        <div class="flex-col"> <span> <small class="text-right mr-sm-2">Out for delivary</small><i class="fa fa-circle"></i></span></div>
                                        <div class="col-auto flex-col-auto">
                                            <smallclass="text-right mr-sm-2">Delivered</small><span> <i class="fa fa-circle"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
            <div class="row mt-4">
                <div class="col">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <p class="mb-1 text-dark"><b>détails de la commande</b></p>
                        </div>
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Total</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">{{this.orderPrice}}.00 €</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"> <b>Expédition</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">Gratuit</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>TVA</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">0 %</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Frais de livraison</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">Gratuit</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row invoice ">
                <div class="col">
                    <p class="mb-1"> Numéro de facture: {{this.paymentId}}</p>
                    <p class="mb-1">Date facture : {{this.cart.createAt}}</p>
                    <p class="mb-1">Bon de réception:18KU-62IIK</p>
                </div>
            </div>
        </div>
        {{!-- <div class="card-footer">
            <div class="jumbotron-fluid">
                <div class="row justify-content-between ">
                    <div class="col-sm-auto col-auto my-auto"><img class="img-fluid my-auto align-self-center " src="https://i.imgur.com/7q7gIzR.png" width="115" height="115"></div>
                    <div class="col-auto my-auto ">
                        <h2 class="mb-0 font-weight-bold">TOTAL PAID</h2>
                    </div>
                    <div class="col-auto my-auto ml-auto">
                        <h1 class="display-3 ">&#8377; 5,528</h1>
                    </div>
                </div>
                <div class="row mb-3 mt-3 mt-md-0">
                    <div class="col-auto border-line"> <small class="text-white">PAN:AA02hDW7E</small></div>
                    <div class="col-auto border-line"> <small class="text-white">CIN:UMMC20PTC </small></div>
                    <div class="col-auto "><small class="text-white">GSTN:268FD07EXX </small> </div>
                </div>
            </div>
        </div> --}}
         
    </div>
</div>
   {{/each}}


{{!-- testtttttttttttttttttttttttttttttttttttttttt --}}

